@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-self: center;
  align-items: center;
  min-height: 100vh;
  background: url('./Components/Assets/background.jpeg') no-repeat;
  background-size: cover;
  background-position: center;

}
